body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black
}

img {
    cursor: pointer;
}



/*LEFT NAVIGATION*/
.left {
    display: flex;
    flex-direction: column;
    /* Allows flexbox containers inside to stack vertically */
    width: 17%;
    height: 100vh;
    position: fixed;
    left: 0;
    padding-left: 1%;
    padding-top: 30px;
    transition: 0.3s;
}

.left img {
    width: 33px;
    margin-right: 20px;
}

.navigation-links a img {
    width: 33px;
    margin-right: 20px;
}

.navigation-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.navigation-links a:first-child {
    color: #ed3833
}

.navigation-links hr {
    margin-left: 0;
    width: 85%;
    border: 0;
    height: 1px;
    background: #ccc
}

.subscribed-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: fit-content;
}

.subscribed-list h3 {
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list a img {
    width: 33px;
    border-radius: 50%;
    margin-right: 20;
    border: 1px solid #ccc;
}



.compressed {
    width: 5%;
    transition: 0.3s;
}

.compressed a p {
    display: none;
}

.compressed h3 {
    display: none;
}

.compressed hr {
    width: 70%;
    margin-bottom: 25px;
    transition: 0.3s;
}


/*RIGHT CONTENT*/
.right {
    padding-left: 17%;
    display: flex;
    flex-direction: column;
    /* Allows flexbox containers inside to stack vertically */
    width: 83%;
    height: 100vh;
    transition: 0.3s;
}

.expand {
    width: 95%;
    transition: 0.3s;
    padding-left: 5%;
}




.widgets {
    background-color: grey;
    width: 15%;
    display: flex;
    justify-content: center;
    margin-left: auto;
}



.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
    padding-top: 15px;
}

.video-list .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.video-list .flex {
    align-items: flex-start;
    margin-top: 7px;
}

.video-list .flex img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vid-info {
    color: #5a5a5a;
    font-size: 13px;
}

.vid-info a {
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.tags {
    padding: 30px 0;
    justify-content: flex-start;
    overflow: scroll;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


.tags a div {
    display: flex;
    align-items: center;
    background-color: #9d969630;
    margin: 0 10px;
    height: 32px;
    border-radius: 8px;
    min-width: max-content;
}

.tags a div p {
    padding: 0 10px;
}

.video-box {
    background-color: #e0e0e0;
    width: 30%;
    padding-bottom: 17%;
    margin: 10px;
    color: #333;
    font-weight: bold;
}


.flex {
    display: flex;
    align-items: center;
}

nav {
    background-color: white;
    justify-content: space-between;
    padding: 10px 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu {
    width: 20px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 130px;
}

.nav-middle .mic-image {
    width: 16px;
}

.nav-middle .search-bar {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-bar input {
    width: 400px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.nav-middle .search-bar img {
    width: 15px;
}

.nav-right img {
    width: 25px;
    margin-right: 25px;

}

.nav-right .DP {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

@media (max-width:900px) {


    .menu {
        display: none;
    }

    .left {
        display: none;
    }

    .right,
    .expand {
        width: 100%;
        padding: 0;
    }

    .main-content {
        width: 90%;
        align-self: center;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .DP {
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-middle .search-bar input {
        width: 100px;
    }

    .nav-middle .mic-image {
        display: none;
    }

    .logo {
        width: 90px;
    }
}






/* apateu formatting */
.video-container {
    padding-left: 2%;
    width: 98%;
}

.video-player {
    flex-basis: 69%;
}

.video-player video {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.right-sidebar {
    flex-basis: 30%;
}

.feed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.feed img {
    width: 100%;
}

.feed .feed-thumbnail {
    flex-basis: 48.5%;
}

.feed .feed-vid-info {
    flex-basis: 48.5%;
}

/* video player styles*/

.video-player h3 {
    font-weight: 600;
    font-size: 22px;
}



.vid-functions .left-side,
.vid-functions .right-side {
    width: 50%;
}

.left-side .join {
    font-size: 13px;
    font-weight: 600;
    background-color: #e5e5ea;
    border: 0px;
    height: 36px;
    width: 60px;
    border-radius: 30px;
    margin-right: 8px;
}

.left-side .subscribe {
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #000000;
    border: 0px;
    height: 36px;
    width: 95px;
    border-radius: 30px;
}

.publisher {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.publisher div {
    flex: 1;
    line-height: 8px;
}

.publisher img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}


.DISLIKE {
    background-color: #e5e5ea;
    border-radius: 30px;
}

.right-side {
    justify-content: right;
}

.right-side img {
    width: 32px;
}

.right-side button {
    background-color: #e5e5ea;
    border: 0;
    border-radius: 30px;
    padding: 0 15px;
    font-weight: 600;
    height: 36px;
}

.like img {
    padding-right: 5px;
}



.share img {
    padding-right: 5px;
}


.download img {
    padding-right: 5px;
}

.vl {
    border-left: 1px solid #5a5a5a;
    height: 28px;
}

@media (max-width:1140px) {
    .download {
        display: none;
    }
}